
.avatar {
    position: absolute;
    top: 30px;
    right: 50px;
}

.avatar {
	width: 80px;
	height: 70px;
	border-radius: 50%;
}

.avatar {
    color: white;
}

.avatar p {
    white-space: nowrap;
}

.avatar p {
    white-space: nowrap;
    margin: -68px;
	margin-top: 100px;
}
